@tailwind base;
@tailwind components;
@tailwind utilities;

/* [FIX] Global scroll enabled */
html, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* NO overflow: hidden here! */
}

.leaflet-container {
    outline: none !important;
    border: none !important;
}